@use 'base/variables' as v;
@use 'base/mixins' as m;

.testimonial {
    width: 85%;
    max-width: 37.5rem;
    margin: auto;
    padding: 6rem 0;

    @include m.tablet {
        max-width: 700px;
        padding: 8rem 0;
    }

    @include m.Desktop {
        max-width: 1200px;
        padding: 10rem 0;
    }

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 6rem;

        @include m.tablet {
            flex-direction: row;
    
        }
    }





    &__title {
        font-family: v.$fuenteFraunces;
        text-transform: uppercase;
        font-size: 1.8rem;
        color: v.$azulgrisaceo;
        text-align: center;
        letter-spacing: .5rem;
        margin-bottom: 6rem;
    }

    &__card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .avatar {
            width: 8rem;
            border-radius: 50%;
        }

        .card-content {
            text-align: center;

            p {
                font-family: v.$fuenteBarlow;
                color: v.$azulGrisaceoMuyOscuro;
                line-height: 1.5;
                margin: 3rem 0;
            }
        }

        .card-name {
            text-align: center;

            h3 {
                font-family: v.$fuenteFraunces;
                font-size: 2.2rem;
                font-weight: 900;
                margin-bottom: 1rem;
            }

            span {
                font-family: v.$fuenteBarlow;
                color: v.$azulgrisaceo;
            }
        }
    }
}